<a href="https://colab.research.google.com/github/pinheiro02/1-modulo-ejercicios-python/blob/main/modulo1_leccion1_variables_python.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

<h1>Table of Contents<span class="tocSkip"></span></h1>
<div class="toc"><ul class="toc-item"><li><span><a href="#Tipos-de-Variables" data-toc-modified-id="Tipos-de-Variables-1"><span class="toc-item-num">1&nbsp;&nbsp;</span>Tipos de Variables</a></span><ul class="toc-item"><li><span><a href="#N√∫meros" data-toc-modified-id="N√∫meros-1.1"><span class="toc-item-num">1.1&nbsp;&nbsp;</span>N√∫meros</a></span></li><li><span><a href="#Texto-+-visualizar-variables-con-print()" data-toc-modified-id="Texto-+-visualizar-variables-con-print()-1.2"><span class="toc-item-num">1.2&nbsp;&nbsp;</span>Texto + visualizar variables con <code>print()</code></a></span></li><li><span><a href="#Ejercicios:-n√∫meros,-textos-y-print()" data-toc-modified-id="Ejercicios:-n√∫meros,-textos-y-print()-1.3"><span class="toc-item-num">1.3&nbsp;&nbsp;</span>Ejercicios: n√∫meros, textos y <code>print()</code></a></span></li><li><span><a href="#Ejercicios:-tipos-de-datos" data-toc-modified-id="Ejercicios:-tipos-de-datos-1.4"><span class="toc-item-num">1.4&nbsp;&nbsp;</span>Ejercicios: tipos de datos</a></span></li></ul></li><li><span><a href="#Operaciones-algebraicas" data-toc-modified-id="Operaciones-algebraicas-2"><span class="toc-item-num">2&nbsp;&nbsp;</span>Operaciones algebraicas</a></span><ul class="toc-item"><li><span><a href="#Ejercicios:-operaciones-algebraicas" data-toc-modified-id="Ejercicios:-operaciones-algebraicas-2.1"><span class="toc-item-num">2.1&nbsp;&nbsp;</span>Ejercicios: operaciones algebraicas</a></span></li></ul></li><li><span><a href="#Operaciones-binarias" data-toc-modified-id="Operaciones-binarias-3"><span class="toc-item-num">3&nbsp;&nbsp;</span>Operaciones binarias</a></span><ul class="toc-item"><li><span><a href="#Ejercicios:-operaciones-binarias" data-toc-modified-id="Ejercicios:-operaciones-binarias-3.1"><span class="toc-item-num">3.1&nbsp;&nbsp;</span>Ejercicios: operaciones binarias</a></span></li></ul></li><li><span><a href="#M√©todos-de-los-strings-y-la-funci√≥n-input()" data-toc-modified-id="M√©todos-de-los-strings-y-la-funci√≥n-input()-4"><span class="toc-item-num">4&nbsp;&nbsp;</span>M√©todos de los <em>strings</em> y la funci√≥n <code>input()</code></a></span><ul class="toc-item"><li><span><a href="#upper()" data-toc-modified-id="upper()-4.1"><span class="toc-item-num">4.1&nbsp;&nbsp;</span><code>upper()</code></a></span></li><li><span><a href="#lower()" data-toc-modified-id="lower()-4.2"><span class="toc-item-num">4.2&nbsp;&nbsp;</span><code>lower()</code></a></span></li><li><span><a href="#capitalize()" data-toc-modified-id="capitalize()-4.3"><span class="toc-item-num">4.3&nbsp;&nbsp;</span><code>capitalize()</code></a></span></li><li><span><a href="#title()" data-toc-modified-id="title()-4.4"><span class="toc-item-num">4.4&nbsp;&nbsp;</span><code>title()</code></a></span></li><li><span><a href="#swapcase()" data-toc-modified-id="swapcase()-4.5"><span class="toc-item-num">4.5&nbsp;&nbsp;</span><code>swapcase()</code></a></span></li><li><span><a href="#strip()" data-toc-modified-id="strip()-4.6"><span class="toc-item-num">4.6&nbsp;&nbsp;</span><code>strip()</code></a></span></li><li><span><a href="#split()" data-toc-modified-id="split()-4.7"><span class="toc-item-num">4.7&nbsp;&nbsp;</span><code>split()</code></a></span></li><li><span><a href="#replace()" data-toc-modified-id="replace()-4.8"><span class="toc-item-num">4.8&nbsp;&nbsp;</span><code>replace()</code></a></span></li><li><span><a href="#join()" data-toc-modified-id="join()-4.9"><span class="toc-item-num">4.9&nbsp;&nbsp;</span><code>join()</code></a></span></li><li><span><a href="#find()" data-toc-modified-id="find()-4.10"><span class="toc-item-num">4.10&nbsp;&nbsp;</span><code>find()</code></a></span></li><li><span><a href="#Ejercicios:-operaciones-con-texto-y-la-funci√≥n-input()" data-toc-modified-id="Ejercicios:-operaciones-con-texto-y-la-funci√≥n-input()-4.11"><span class="toc-item-num">4.11&nbsp;&nbsp;</span>Ejercicios: operaciones con texto y la funci√≥n <code>input()</code></a></span></li></ul></li></ul></div>

# Tipos de Variables

## N√∫meros

Lo primero que se nos ocurre a todas pensando en la programaci√≥n son n√∫meros, sobre los cu√°les podremos realizar operaciones matem√°ticas. Para empezar vamos a definir una variable con el valor 3. Esta variable la vamos a asignar un nombre, que puede ser `a`, `tres`, `trEs`, `A_tres`, `valor1`, etc. Aunque es recomendable, por convenci√≥n no utilizar may√∫sculas para definir variables. 

Ejecuta las siguientes celdas haciendo clic en ellos y pulsando `ctrl + Enter` o clicando sobre el s√≠mbolo de `play` que hay en el lado izquierdo de la celda. El resultado del c√≥digo lo ver√°s debajo de la celda ejecutada.

In [ ]:
# escribimos el n√∫mero 3 en la celda 
3

3

In [ ]:
# ¬øQue pasar√≠a si ahora en vez de una n√∫mero escribieramos una letra?
a

3

Como acabas de ver, al entrar un `3` sin contexto ning√∫no, el ordenador no sabe qu√© hacer con ello, y te lo repite tal cual. Sin embargo, en la segunda celda, devolvi√≥ un error. Siempre es muy importante leer los errores sin asustarse: Python da pistas de cu√°l es el error que estamos cometiendo. Incluso a veces nos puede dar una idea de como solucionarlo.

El error dice que la `a` no esta definida: no sabe si es una constante, una funci√≥n, una p√°gina web, o lo que sea.

Volvemos a intentarlo con comillas

In [ ]:
"A"

'A'

Ahora s√≠ que lo acepta. ¬øPor qu√©? Al poner caracteres sin contexto el ordenador asume que es una variable, y si no la encuentra entre sus variables ya guardadas no devolver√° error. Las comillas (sean simples o dobles, da igual) especifican que no buscamos una variable, pero que le estamos dando un contenido. Sin embargo, sin nombre no podr√° guardar el contenido. Recuerda que los variables siempre se definen con `nombre = contenido`. 

Creemos ahora una variable que se llame "a"  cuyo valor sea 3 üëáüèΩ

In [ ]:
a = 3
print(a)
print(3)

3
3

No sale un resultado debajo de la celda, ¬øhe hecho algo mal? ¬°No! Antes estabamos escribiendo contenidos sin decir qu√© queremos hacer con ellos, y por tanto Python devolvi√≥ ese mismo contenido. Poni√©ndolo en forma `nombre = contenido` decimos que queremos guardar el contenido `3` en la variable llamada `a`. Como ya sabe qu√© hacer no devuelve nada, sino que hace lo que pedimos.

Recuerda que antes, al escribir `a` sin comillas, sali√≥ un error. Volvemos a intentarlo:

In [ ]:
a

3

¬°Sale el n√∫mero 3! Aqu√≠ la clave es el orden en que ejecutamos las celda: la celda con `a` es exactamente la misma que arriba. Si hubieramos ejecutado √©sta celda antes de la anterior, que especifica qu√© contiene la variable `a`, nos hubiera salido el mismo error. La diferencia est√° en que ahora s√≠ que tiene una variable guardada con ese nombre. Si vuelves a la celda de arriba que di√≥ el error, ¬øqu√© crees que pasar√°? Int√©ntalo.

Ojo que ya no repite la letra `a`, porque has pedido el contenido que tiene guardado en la variable. Tampoco te produce el error que vimos arriba, porque la variable con el nombre `a` ahora s√≠ que se ha definido. Python interpreta la `a` como una asignaci√≥n, y en todos los sitios en el c√≥digo en que encuentra una `a` los va a leer como si hubieramos puesto `3`.

Hasta ahora hemos generado una variable que se llama "a" cuyo valor fue 3, es un n√∫mero entero, que en Python se llaman *integers*. Tambi√©n podremos crearnos variables que almacenen n√∫meros decimales, llamados *float*  en Python. Creemos una variable que se llame "metros" que almacene el n√∫mero 1.87

In [ ]:
# NOTA: los decimales en python se indican con "."

metros = 1.87

In [ ]:
# veamos que contiene ahora la variable "metros"

metros

1.87

## Texto + visualizar variables con `print()`

En la secci√≥n anterior conseguimos almacenar un n√∫mero dentro de una variable correctamente. Sin embargo, las variables pueden almacenar otros tipos de datos como es el texto, en Python los llamaremos *strings*. Para poder sacar por pantalla en contenido de una variable podemos usar la palabra clave `print`. Prob√©moslo con unos ejemplos

In [ ]:
print(a)

3

In [ ]:
# creemos ahora una variable que se llame "comida" que almacene el texto "batata"
comida = "batata"
print(comida)

batata

Probar ahora a usar comillas simples ('') en vez de comillas dobles ("")

Adem√°s de mirar las comillas tambi√©n siempre nos tenemos que fijar bien en el uso de las par√©ntesis. Nota que en la funci√≥n `print()` los par√©ntesis `()` especifican los datos sobre los que tiene que actuar la funci√≥n. Sin embargo, los par√©ntesis tambi√©n pueden servir, como aprendimos en las clases de matem√°ticas, para agrupar sin m√°s.

Mira la celda de abajo, sin ejecutarla todav√≠a. ¬øQu√© crees que te devolver√°n los tres `print`?

In [ ]:
# creamos una variable num√©rica que se llame "cantidad"
cantidad = 3
print(cantidad)

# creamos una variable de tipo string que se llame "categoria1"
categoria1 = "verde"
print(categoria1)

# creamos una variable que se llame categoria2 que sea igual a la variable azul
categoria2 = azul
print(categoria2)

3
verde

NameError: name 'azul' is not defined

Nota como al crear la variable `categoria2` surge un error, mientras la variable `categoria1` s√≠ que se cre√≥ sin problema. Si ponemos un nombre sin comillas, el ordenador lo interpreta como variable y buscara entre todas las variables que se han ido creado en este jupyter. Es decir, si he creado la variable `V = 1000`, cierro el Jupyter o me voy a otro y pregunto por `V` no me lo sabr√° decir. Los valores se guardan localmente. 

En nuestro caso, no hemos creado hasta el momento ninguna variable llamada "azul" por lo tanto, cuando va a ejecutar esa l√≠nea nos da error y nos dice que esa variable no ha sido definida. 

En un `print()`, las variables de texto pueden ser ampliadas por m√°s texto. Esto se puede hacer usando otra variable de texto, por ejemplo `color_detalle`, que tiene el valor original `"verde"` m√°s un espacio `' '` m√°s la palabra `'oscuro'`. Nota que un espacio tambi√©n es un car√°cter. Al imprimir la nueva variable `color_detalle` vemos como el output es `verde oscuro`.

In [ ]:
color_detalle = categoria1 + ' ' + 'oscuro'
print(color_detalle)

verde oscuro

 Dentro de la funci√≥n `print()` tambi√©n se puede hacer lo mismo directamente, sin el paso intremedio de definir la variable `color_detalle`.

In [ ]:
print(categoria1 + ' oscuro')

verde oscuro

Otra forma en la que podr√≠amos hacer el c√≥digo anterior es separando los valores con una coma.

In [ ]:
print(categoria1, 'oscuro')

verde oscuro

En este caso, la coma entre `categoria1` y `'oscuro'` significa que pasamos a la *funci√≥n* `print` dos *argumentos* distintos.

**Repaso**:
- El contenido de una variable se muestra en el *output* con la funci√≥n `print()`.


- Los tipos de datos de tipo `texto` o `*string*` se pueden definir con comillas simples o dobles, pero nunca sin comillas.


- Para encadenar texto se usa `+` o `,`.



---


## Ejercicios: n√∫meros, textos y `print()`

- Guarda los siguientes valores en los siguientes variables:

  1. Que `gatos` sea un n√∫mero con el valor `8`.
  2. Que `perros` sea un texto de seis caracteres: la palabra `cuatro`.

- Imprime las variables:

  3. Imprime la variable `gatos`.
  4. Imprime la variable `perros`.
  5. Imprime la variable `perros` seguida por la palabra `m√°s` y la palabra `perros` otra vez.

- Bonus

  6. Consigue que el ordenador devuelva el siguiente texto, usando `gatos` y `perros`: `cuatro m√°s cuatro es igual a 8`.
  7. Consigue que el ordenador devuelva el siguiente texto, usando `gatos` y `perros`: `cuatro + cuatro = 8`.


---

In [ ]:
gatos=8
perros='cuatro'
print(gatos)
print(perros)
print(perros,'m√°s','perros')
print(perros,'m√°s',perros,'es igual a ',gatos)
print(perros,'+',perros,'=',gatos)

8
cuatro
cuatro m√°s perros
cuatro m√°s cuatro es igual a  8
cuatro + cuatro = 8



---



Hasta ahora hemos visto dos tipos de variables: n√∫meros enteros, cadenas de caracteres o *strings*:

- Los n√∫meros enteros en ingl√©s se denominan `integer` ('int'), y son todos los n√∫meros sin decimales tanto positivos como negativos.

- Los n√∫meros decimales en ingl√©s se denominan `float` ('float'), y son todos los n√∫meros con decimales tanto positivos como negativos.

- Las cadenas de caracteres se llaman `string` ('str') en ingl√©s y pueden delimitarse con comillas simples ' ' o dobles " " indistintamente.

In [ ]:
# definamos algunas variables con distintos tipos de datos num√©ricos

b1 = 3.0
b2 = 5
b3 = 5.0
b4 = 118

`b2` y `b4` son numeros enteros (int) mientras `b1` y `b3` son flotantes (float). ¬øQu√© crees que pasa si hacemos una operaci√≥n aritm√©tica a combinaciones de ellas?

In [ ]:
# en esta celda introduciremos algunos operaciones b√°sicos de Python

c1 = b1 + b2 # "+" operador de suma
c2 = b1 + b3
c3 = b2 + b4
c4 = b2 - b4 # "-" operador de resta
c5 = b4 / b2 # "/" operador de divisi√≥n
c6 = b4 / b3

¬øCu√°l(es) de las variables `c` ser√°n del tipo *float*? ¬øPara cu√°les necesitar√≠as una coma decimal?

Ejecuta la siguiente celda y mira el *output*.

In [ ]:
print('C1 = ', b1,' + ', b2,' = ', c1)
print('C2 = ', b1,' + ', b3,' = ', c2)
print('C3 = ', b2,' + ', b4,' = ', c3)
print('C4 = ', b2,' - ', b4,' = ', c4)
print('C5 = ', b4,' / ', b2,' = ', c5)
print('C6 = ', b4,' / ', b3,' = ', c6)

C1 =  3.0  +  5  =  8.0
C2 =  3.0  +  5.0  =  8.0
C3 =  5  +  118  =  123
C4 =  5  -  118  =  -113
C5 =  118  /  5  =  23.6
C6 =  118  /  5.0  =  23.6

Vemos que:
- Sumando un float con un int produce un float___.
- Sumando dos float produce un float.
- Sumando dos int produce un int ___.
- Dividiendo un int por un int produce un float.
- Dividiendo un int por un float produce un float.

¬øEn la `c5` qu√© pasa?


Hasta ahora hemos visto que tenemos varios tipos de datos num√©ricos, `int` y `float`. Sin embargo, Python nos permite cambiar el tipo de dato de `int` a `float` o viceversa.
Mira los ejemplos abajo, ¬øqu√© te esperas que ocurrir√°?

In [ ]:
C5 = int()
print(c5)
C5 = float()
print(c5)

C5 = int(b4 / b2)
print(c5)
C5 = float(b4 / b2)
print(c5)
C5 = str(b4 / b2)
print(c5)

23.6
23.6
23.6
23.6
23.6

El cambiar el tipo de un dato se llama *type casting* o conversi√≥n de tipos. Mira los √∫ltimos dos *output*, ¬øc√≥mo sabemos de qu√© tipo se trata?

In [ ]:
c5a = float(b4 / b2)
c5b = int(b4 / b2)
c5c = str(b4 / b2)
t = type(c5a)

print(t)
print(type(c5b))
print(type(c5c))

<class 'float'>
<class 'int'>
<class 'str'>

Alternativamente, para comprobar si una variable tiene el tipo que esperabas, tambi√©n puedes usar la funci√≥n `isinstance()`, que requiere dos argumentos, que como siempre se separan con una coma: primero el nombre de la variable que quieres comprobar, y segundo el tipo. En funciones el orden de los argumentos es muy importante, a no ser que especificamos qu√© argumento es, esto ahora podemos no entenderlo, no os preocup√©is, ya lo entenderemos cuando demos las funciones.

In [ ]:
print(isinstance(c5a,float))
print(isinstance(c5b,int))
print(isinstance(c5c,str))

True
True
True

In [ ]:
# probemos a cambiarle el orden a los argumentos que le pasamos...

print(isinstance(str,c5c))

TypeError: isinstance() arg 2 must be a type, a tuple of types, or a union

¬øHas visto como imprime el resultado de la funci√≥n `isinstance()`? No es un n√∫mero, pero tampoco una cadena de texto como las de hasta ahora. Es el √∫ltimo tipo de datos que introducimos en esta clase: el booleano (`bool`). Es un tipo binario que s√≥lo tiene dos opciones, verdadero (en ingl√©s *true*) o falso (en ingl√©s *false*). M√°s adelante vamos a necesitar este tipo de dato para poner condiciones, de modo que s√≥lo ejecutaremmos un trozo de c√≥digo si la condici√≥n es verdadera, si es falso nos lo saltamos. De nuevo, aqu√≠ nos hemos adelantado un poco, no hace falta que lo entend√°is, un poco m√°s adelante veremos como funciona este tipo de sintaxis en Python. Ojo que esto no se aplica a todas las funciones, divisiones por ejemplo no aceptan un bool.

In [ ]:
d1 = True
d2 = False
d3 = c3 + d1
d4 = c3 + d2
d5 = c2 + d1
d6 = c2 + d2

print('D1 = ', d1)
print('D2 = ', d2)
print('D3 = ', c3,' + ', d1,' = ', d3)
print('D4 = ', c3,' + ', d2,' = ', d4)
print('D5 = ', c2,' + ', d1,' = ', d5)
print('D6 = ', c2,' + ', d2,' = ', d6)

print(type(d1))
print(isinstance(d1,bool))

D1 =  True
D2 =  False
D3 =  123  +  True  =  124
D4 =  123  +  False  =  123
D5 =  8.0  +  True  =  9.0
D6 =  8.0  +  False  =  8.0
<class 'bool'>
True

**Repaso**:
- `Int` son n√∫meros enteros, positivos o negativos o cero, sin decimales.

- `Float` son flotantes, es decir n√∫meros con una coma.

- `Str` son texto.

- `Bool` son booleanos, s√≥lo hay `True` y `False`.

- Con `type()` puedes comprobar qu√© tipo de datos es.

- Con `isinstance()` puedes comprobar si la variable es de un tipo en espec√≠fico, como `isinstance(variable,tipo)`.

---
## Ejercicios: tipos de datos

- Definir tipos

  8. Define una variable `pizzas` con un valor `2` que sea del tipo float.

  9. Define `magdalenas` con un valor `2` que sea del tipo string.

  10. Define `postres` con un valor `0` que sea del tipo int.

- Comprobar tipos

  11. Usa `type()` para devolver el tipo de `pizzas`.
  
  12. Usa `isinstance()` para ver si `magdalenas` es un string o no.

- Bonus

  13. Define `postres` con un valor `0` que sea del tipo bool.
---

In [ ]:
pizzas=2.0
magdalenas='2'
postres=0
print(type(pizzas))
print(isinstance(magdalenas, str))

postres=bool(0)
print(type(postres))

<class 'float'>
True
<class 'bool'>



---

# Operaciones algebraicas

Con los variables num√©ricas podemos calcular otros valores que nos puedan resultar m√°s interesantes. Algunos ya los vimos en el apartado anterior. Repasemos la base:

In [ ]:
# definimos tres variables num√©ricas de tipo int
saldo = 235
ingreso = 100
gasto = 15

In [ ]:
print('Has recibido un ingreso, tu nuevo saldo es',saldo + ingreso)

Has recibido un ingreso, tu nuevo saldo es 335

In [ ]:
print('Has gastado dinero, tu nuevo saldo es',saldo - gasto)

Has gastado dinero, tu nuevo saldo es 220

In [ ]:
saldo = saldo + ingreso - gasto
print('Has tenido m√∫ltiples movidas en tu cuenta, tu saldo actual es',saldo)

Has tenido m√∫ltiples movidas en tu cuenta, tu saldo actual es 320

F√°cil, ¬øverdad? La multiplicaci√≥n y la divisi√≥n se hacen con `*` y `/` respectivamente. Vemos un ejemplo:

In [ ]:
unidades_por_pack_de_ahorro = 3
packs_vendidos = 5

In [ ]:
print('Has vendido',unidades_por_pack_de_ahorro*packs_vendidos,'unidades.')

Has vendido 15 unidades.

In [ ]:
unidades_en_almacen = 15
print('Nos queda stock para vender',unidades_en_almacen/unidades_por_pack_de_ahorro,'packs.')

Nos queda stock para vender 5.0 packs.

La divisi√≥n ya la vimos en el apartado de tipos tambi√©n. ¬øVes como da un float (`5.0`), aunque no necesite una decimal? Pues en este caso no nos interesan los packs parciales que nos queden, solo la cantidad de packs enteros que podr√≠a vender. Adem√°s, me interesar√≠a saber si me quedan unidades sueltas que no dan para otro pack.

Para esta situaci√≥n, en vez de usar la divisi√≥n normal `/`, podemos usar la divisi√≥n entera `//` y el residuo `%`. Ojo que aunque sea el s√≠mbolo de porcentaje, ¬°aqu√≠ no se trata de un porcentaje!

Repetimos el ejemplo anterior con los nuevos operadores:

In [ ]:
unidades_por_pack_de_ahorro = 3
packs_vendidos = 5
unidades_en_almacen = 17

In [ ]:
print('Has vendido',unidades_por_pack_de_ahorro*packs_vendidos,'unidades.')

Has vendido 15 unidades.

In [ ]:
print('Nos queda stock para vender',unidades_en_almacen//unidades_por_pack_de_ahorro,'packs, y',unidades_en_almacen%unidades_por_pack_de_ahorro,'unidades sueltas.')

Nos queda stock para vender 5 packs, y 2 unidades sueltas.

El operador `**` se usa para elevar un n√∫mero a otro. Aqu√≠ ten√©is dos ejemplos:

In [ ]:
paquete_cm = 20
paquete_litros = (paquete_cm / 10) ** 3
print('Un paquete c√∫bico de',paquete_cm,'cm contiene',paquete_litros,'litros.')

Un paquete c√∫bico de 20 cm contiene 8.0 litros.

In [ ]:
variable = 5
raiz = variable ** 0.5
print('La ra√≠z de',variable,'es',raiz)

La ra√≠z de 5 es 2.23606797749979

Muchas veces no nos interesa tener todos los decimales. Si el valor num√©rico se refiere a una cantidad en euros, por ejemplo, nos suelen interesar s√≥lo los c√©ntimos, es decir los primeros dos decimales. 

Para redondear tenemos la funci√≥n `round()`. Como argumento le damos la variable o el n√∫mero que tiene que redondear. Opcionalmente puedes a√±adir un segundo argumento a esta funci√≥n para decirle cu√°ntos decimales te interesan. Si no a√±ades nada m√°s, ese segundo valor se queda por defecto en `0`.

Mira los dos ejemplos abajo. Nota como el precio lo redondeamos a 2 decimales, mientras para los chuches no le damos un segundo argumento. Cambia los decimales y mira qu√© pasa.

In [ ]:
valor_del_stock = 236.45
unidades_en_stock = 18
precio_minimo_por_unidad = round(valor_del_stock/unidades_en_stock,2)
print('‚Ç¨',precio_minimo_por_unidad)

‚Ç¨ 13.14

In [ ]:
ninos_en_clase = 29
chuches_por_bolsa = 75
chuches_por_nino = round(chuches_por_bolsa/ninos_en_clase)
print(chuches_por_nino,'chuches')

3 chuches

**Repaso**:
- Sumar con `+`.

- Restar con `-`.

- Multiplicar con `*`.

- Elevar a con `**`.

- Dividir con `/`.

- Dividir y redondear el resultado hacia abajo con `//`.

- El resto de una divisi√≥n con `%`.

- Redondear con `round()`.



---


## Ejercicios: operaciones algebraicas

- Operaciones b√°sicas

  14. Calcula la suma de `gatos` y `pizzas`.

  15. Calcula la diferencia entre `gatos` y `pizzas`.

  16. Multiplica las cantidad de gatos por 2.

  17. Haz que la cantidad de `piezas` sea 8 veces la cantidad de `pizzas`.

  18. Haz que la cantidad de `piezas` se aumente con 3.

  19. Calcula el cuadrado de 9 y gu√°rdalo en `superficie`.

- Divisiones

  20. ¬øCu√°nta superficie hay por gato?

  21. ¬øCu√°ntas piezas enteras hay por gato?

  22. ¬øCu√°ntas piezas te quedan si cada gato se come 21 piezas?

- Redondear

  23. ¬øCu√°nta superficie hay por gato en metros cuadrados? Redondeala a un s√≥lo decimal. Intenta calcularlo dentro del mismo `print()` en una sola l√≠nea.
---

In [ ]:
print(gatos+pizzas)
print(gatos-pizzas)
print(gatos*2)
piezas=( pizzas*8)
print(piezas)
print(piezas+3)
superficie=(9**2)
print(superficie)
print('Hay',superficie/gatos,'de superficie por gato')
print('Hay', piezas/gatos, 'piezas enteras por gato')
print('Me quedaran',piezas-gatos*21,'piezas')
print('Hay',round(superficie/gatos,1),'m2')

10.0
6.0
16
16.0
19.0
81
Hay 10.125 de superficie por gato
Hay 2.0 piezas enteras por gato
Me quedaran -152.0 piezas
Hay 10.1 m2



---

# Operaciones binarias
En la secci√≥n de tipos de datos introducimos las variables booleanas. Son √∫tiles a la hora de querer evaluar sentencias, o comparar contenidos de variables.

In [ ]:
cucharas_de_azucar = 5
cucharas_en_receta1 = 7
cucharas_en_receta2 = 5

In [ ]:
# Es el valor de cucharas de azucar = a cucharas en receta1. 
print(cucharas_de_azucar == cucharas_en_receta1)

False

In [ ]:
# Es el valor de cucharas de azucar = a cucharas en receta2. 

print(cucharas_de_azucar == cucharas_en_receta2)

True

In [ ]:
# es el valor de la variable cucharas de azucar la variable cucharas en receta1.
print(cucharas_de_azucar is cucharas_en_receta1)

False

In [ ]:
# es el valor de la variable cucharas de azucar la variable cucharas en receta2.

print(cucharas_de_azucar is cucharas_en_receta2)

True

Para evaluar si la cantidad de az√∫car que tenemos nos da para una o ambas recetas podr√≠amos ver si sus *valores* coinciden, con `==`. En este caso las variables son del tipo `int`,  por lo tanto,  tambi√©n podemos usar la palabra `is`, que es un sin√≥nimo para el operador `==`.

Ojo que dependiendo de la forma en que definas los valores, el tipo cambia. Supongamos que, sin darnos cuenta, definimos las cantidades de cucharas como *float*. Mira qu√© pasa con las evaluaciones con `==` e `is`.

In [ ]:
cucharas_de_azucar = 5.0
cucharas_en_receta2 = 5.0

In [ ]:
print(cucharas_de_azucar == cucharas_en_receta2)

True

In [ ]:
print(cucharas_de_azucar is cucharas_en_receta2)

False

Ahora bien, si hemos hecho la receta 2 sabemos que la cantidad de cucharas que fue usada fue igual a la de la receta2. Si ahora compramos esas dos variables, vemos que, como la una **apunta** a la otra, la evaluaci√≥n con `is` tambi√©n devuelve un `True`.

In [ ]:
cucharas_en_receta2 = 5.0
cucharas_usadas = cucharas_en_receta2

In [ ]:
print(cucharas_usadas == cucharas_en_receta2)

True

In [ ]:
print(cucharas_usadas is cucharas_en_receta2)

True

Esto no significa que usar `==` sea mejor ni peor que `is`, s√≥lo que hay que tener cuidado a la hora de usarlos si realmente hacen lo que quieren en ese punto.

Tambi√©n nos puede interesar si dos variables son diferentes. Para evaluar si dos *valores* son distintos podemos usar `!=`. Para ver si dos variables *apuntan* a sitios distintos en la memoria usa `is not`.

In [ ]:
# recordemos que valores ten√≠an las variables cucharas_de_azucar y cucharas_en_receta2
print(cucharas_de_azucar)
print(cucharas_en_receta2)

5.0
5.0

In [ ]:
# creemos una variable nueva que se llame cucharas_en_bote
cucharas_en_bote = 5

In [ ]:
print(cucharas_de_azucar is not cucharas_en_receta2)

True

In [ ]:
print(cucharas_de_azucar != cucharas_en_receta2)

False

Las dos primeras variables apuntan a sitios distintos, definidos exactamente iguales por casualidad, y por tanto la evaluaci√≥n `is not` es verdadera. En cambio comparando el valor del `int` de las cucharas que quedan en el bote, con el `float` la evaluaci√≥n `!=` devuelve un `False` porque los valores no son distintos.

Si lo pensamos, en el caso del az√∫car realmente no nos interesa si son iguales las cantidades, ¬øverdad? M√°s bien queremos evaluar si la cantidad que nos queda en casa da para hacer la receta o no. Esto se puede evaluar de muchas maneras, y ninguna de ella m√°s correcta que otra. Miremos los primeros dos, usando el s√≠mbolo de *menor que* `<` y el s√≠mbolo de *mayor qu√©* `>`:

In [ ]:
cucharas_que_quedan = 5
cucharas_en_receta = 5

In [ ]:
print('Podemos hacer la receta si:')
print(cucharas_en_receta < cucharas_que_quedan,'es True')
print(cucharas_que_quedan > cucharas_en_receta,'es True')

Podemos hacer la receta si:
False es True
False es True

¬øQu√© pasa si nos quedan 5 cucharas solo? ¬øPodr√≠amos hacer la receta o no? Cambia el ejemplo de arriba y mira qu√© pasa.

Hasta ahora vimos igual, distinto de , menor que, y mayor que. Estas (`=` y `<` o `>`) se pueden combinar usando `<=` y `>=`. Nota que la combinaci√≥n desigual y menor que se puede escribir con `>` y la combinaci√≥n de distinto de y mayor que se pueden escribir con `<`. La combinaci√≥n de `<` y `>` tambi√©n ya la hemos visto: `!=`.

In [ ]:
cucharas_que_quedan = 7
cucharas_en_receta = 5

print('Podemos hacer la receta si:')
print(cucharas_en_receta <= cucharas_que_quedan,'es True')
print(cucharas_que_quedan >= cucharas_en_receta,'es True')
print('Nos sobrar√° az√∫car si:')
print(cucharas_en_receta < cucharas_que_quedan,'es True')
print(cucharas_que_quedan > cucharas_en_receta,'es True')

Podemos hacer la receta si:
True es True
True es True
Nos sobrar√° az√∫car si:
True es True
True es True

Todas las evaluaciones que vimos se han evaluado a un `True` o un `False`. Para comprobar si se cumplen m√∫ltiples criterios se puede usar las palabras `and` y `or`, que se traducen a las palabras *y* y *o* en castellano.

In [1]:
huevos_que_quedan = 4
az√∫car_que_queda_litros = 250
harina_bizcocho_que_queda_gramos = 500
harina_trigo_que_queda_gramos = 500
impulsor_quimico_que_queda_cucharas = 2

In [2]:
print('Podemos hacer la receta 1?')
print(huevos_que_quedan >= 4 
      and az√∫car_que_queda_litros >= 120 
      and (harina_bizcocho_que_queda_gramos >= 120 or (harina_trigo_que_queda_gramos >= 120 and impulsor_quimico_que_queda_cucharas >= 1.5)))

Podemos hacer la receta 1?
True

Entonces ¬øqu√© sabemos de la receta 1, mirando este c√≥digo? ¬øQu√© ingredientes necesitas? Pista: son s√≥lo 3. ¬øQu√© podr√≠amos hacer si no nos queda suficiente harina para bizcocho?

Cambia los valores de las cantidades y comprueba si la evaluaci√≥n llega a la conclusi√≥n correcta.

In [7]:
print ('Podemos hacer la receta si:')
print(huevos_que_quedan >= 4 
       and az√∫car_que_queda_litros >= 120 and (harina_bizcocho_que_queda_gramos < 120 or 
                                               (harina_trigo_que_queda_gramos >= 120 and 
                                                                 impulsor_quimico_que_queda_cucharas >= 1.5 )))

Podemos hacer la receta si:
True

**Repaso**:
- Ser igual con `==` o `is`.

- Ser distinto con `!=` o `is not`.

- Ser menor que (o igual) con `<` (`<=`).

- Ser mayor que (o igual) con `>` (`>=`).

- Para combinar dos operaciones binarias:

    - Ambas verdaderas con `and`.

    - Ambas o solo una verdadera con `or`.

    - Usa par√©ntesis  para estructurar la sentencia.



---


## Ejercicios: operaciones binarias

- Comparaciones simples

  24. ¬øEs verdad que hay m√°s gatos que pizzas?

  25. ¬øEs verdad que hay menos gatos que superficie?

  26. ¬øEs verdad que 2 veces la cantidad de pizzas es desigual a la cantidad de gatos?

  27. ¬øEs falso que 2 veces la cantidad de pizzas es igual a la cantidad de gatos?

- Comparaciones compuestas

  28. La variable `piezas`, es mayor o igual a `pizzas` y `superficie` es distinto de cero?

  29. La variable `piezas`, es mayor o igual a `pizzas` y menor que `superficie`?

  30. Me interesa saber si hay m√°s pizzas que gatos, o si el residuo de piezas por gato es cero.

- Bonus

  31. Comprueba las comparaciones de 29. en una sola l√≠nea, sin usar la variable `piezas` m√°s que una sola vez.

  32. Comprueba si `superficie` es desigual a cero sin usar `!=`.
  
---

In [ ]:
print(gatos>pizzas)
print(gatos<superficie)
print(2*pizzas != gatos)
print(2*pizzas is not gatos)

True
True
True
True



---

In [ ]:
# 28 
print(piezas>=pizzas and superficie != 0)
# 29.
print(superficie>piezas>=pizzas)
# 30.
print(pizzas>gatos) or (piezas/gatos==0)

True
True
False

False

# M√©todos de los *strings* y la funci√≥n `input()`

En las secciones anteriores vimos operaciones con n√∫meros y con booleanos, as√≠ que seguimos el hilo con operaciones para textos. Lo primero que hay que saber es que un `str` realmente es una cadena de caracteres. No importa si han sido definidos con comillas simples `''` o dobles `""`. La cadena se puede ampliar con m√°s caracteres sueltos u otras cadenas predefinidas y guardadas en otra variable. Como ya sabemos, las cadenas se pueden visualizar con `print()`. Lo repasamos con un ejemplo:

In [ ]:
hola = 'Hello'
nombre = "Ada"
apellido = 'Lovelace'

In [ ]:
nombre_completo = nombre + ' ' + apellido
print(nombre_completo)

Ada Lovelace

Que recordemos es lo mismo que:

In [ ]:
print(nombre, apellido)

Ada Lovelace

Bien, ahora vas a poder insertar tu propio nombre, y guardarlo en la variable `nombre`. Para eso usamos la funci√≥n `input()`. Si trabajas en VS Code, al ejecutar la celda aqu√≠ abajo, abrir√° un campo para escribir arriba en la ventana. No hace falta clicear en ello, simplemente escribe tu nombre y da a la tecla `Enter`. El programa espera en la l√≠nea que dice `input()` hasta que reciba el `Enter` para ejecutar el resto del c√≥digo.

In [8]:
nombre = input()
print(nombre)

noah
noah

Con tu nombre guardado en la variable, podemos construir una frase personalizada. Nota como la coma est√° *dentro* de las comillas.

In [14]:
bienvenida = 'hola' + ' ' + nombre + ', ¬°bienvenida a este bootcamp!'
print(bienvenida)

hola
 noah, ¬°bienvenida a este bootcamp!

## `upper()`

Pone todas las letras en may√∫scula. Ya que tenemos una frase, es decir una cadena de texto un poco m√°s larga, podemos manipularla, por ejemplo ponerla en may√∫sculas o min√∫sculas. En ingl√©s se llaman *upper case* y *lower case*. Jugamos un poco con esto:

In [ ]:
# convertimos todas las letras a may√∫sculas
print(bienvenida.upper())

HELLO ADA, ¬°BIENVENIDA A ESTE BOOTCAMP!

¬øQu√© pasar√° si ahora volvemos a ver el contenido de bienvenida usando un `print()`? ¬øEstar√° en may√∫scula o como estaba originalmente?

In [ ]:
print(bienvenida)

Hello Ana, ¬°bienvenida a este bootcamp!

Vaya.... no se ha quedado todo en may√∫sculas... üò¢. ¬øC√≥mo podr√≠amos hacer para que son guardar√° todo en may√∫sculas? Crearnos una nueva variable

In [ ]:
bienvenida_mayus = bienvenida.upper()
print(bienvenida_mayus)

HELLO ANA, ¬°BIENVENIDA A ESTE BOOTCAMP!

## `lower()`

Pone todas las letras de nuestro *string* en min√∫scula.

In [ ]:
# convertimos todas las letras a min√∫sculas
print(bienvenida.lower())

hello ana, ¬°bienvenida a este bootcamp!

## `capitalize()`

Para poner la primera letra de la frase en may√∫scula

In [ ]:
print(bienvenida.capitalize())

Hello ana, ¬°bienvenida a este bootcamp!

## `title()`

Para poner la primera letra de cada palabra en may√∫scula

In [ ]:
print(bienvenida.title())

Hello Ana, ¬°Bienvenida A Este Bootcamp!

## `swapcase()`

Para convertir las may√∫sculas en min√∫sculas y las min√∫sculas en may√∫sculas

In [ ]:
print(bienvenida.swapcase())

hELLO aDA lOVELACE, ¬°BIENVENIDA A ESTE BOOTCAMP!

## `strip()`

Otro m√©todo que podr√≠a servirnos es `.strip()`. `strip` quita todos los espacios que haya al principio y al final del *string*:

In [ ]:
bienvenida2 = '    Nos alegra que est√©s aqu√≠.     '

In [ ]:
print(bienvenida2)

    Nos alegra que est√©s aqu√≠.

In [ ]:
print(bienvenida2.strip())

Nos alegra que est√©s aqu√≠.

Recordamos que aunque hayamos aplicado el m√©todo `strip` no queda guardado en la variable y que tendremos que sobreescribirla o crear una variable nueva.

In [ ]:
bienvenida2

'    Nos alegra que est√©s aqu√≠.     '

In [ ]:
bienvenida2_strip = bienvenida2.strip()

In [ ]:
# y voil√° ya no tenemos espacios
bienvenida2_strip

'Nos alegra que est√©s aqu√≠.'

## `split()` 


El m√©todo split() divide un *string* en una lista.

Podemos especificar el separador, el cu√°l por defecto es cualquier espacio en blanco.

In [15]:
# definamos un nuevo string

saludo = "Buenos dias chicas, sigamos aprendiendo m√©todos de los strings"

In [16]:
# si hacemos un split sin especificar separador, veremos que nos devuelve una lista, donde separa nuestro string por los espacios

saludo_separado = saludo.split()
saludo_separado

['Buenos',
 'dias',
 'chicas,',
 'sigamos',
 'aprendiendo',
 'm√©todos',
 'de',
 'los',
 'strings']

Pero tambi√©n podemos especificar un separador, en este caso, separaremos por las "d". Vemoas que es lo que pasa:

In [ ]:
saludo_separado2 = saludo.split("d")
saludo_separado2

['Buenos ',
 'ias chicas, sigamos apren',
 'ien',
 'o m√©to',
 'os ',
 'e los strings']

Como vemos, lo que ha ocurrido es que nos ha creado una lista, donde nos ha separado el *string* anterior en cada punto donde se encontro una "d". Imaginemos ahora que tenemos un *string* multil√≠nea:

In [30]:
don_quijote = """En un lugar de la Mancha, de cuyo nombre no quiero acordarme, no ha mucho tiempo que viv√≠a un hidalgo de los de 
lanza en astillero, adarga antigua, roc√≠n flaco y galgo corredor.
 Una olla de algo
  m√°s vaca que
   carnero, salpic√≥n las m√°s noches,
duelos y quebrantos los s√°bados, lantejas los viernes, alg√∫n palomino de a√±adidura los domingos, 
consum√≠an las tres partes de su hacienda."""

In [34]:
# si nos fijamos, cada l√≠ena esta separado por una "\n", es el s√≠mbolo que usar√° python para indicar el salto de l√≠ne

don_quijote

'En un lugar de la Mancha, de cuyo nombre no quiero acordarme, no ha mucho tiempo que viv√≠a un hidalgo de los de \nlanza en astillero, adarga antigua, roc√≠n flaco y galgo corredor.\n Una olla de algo\n  m√°s vaca que\n   carnero, salpic√≥n las m√°s noches,\nduelos y quebrantos los s√°bados, lantejas los viernes, alg√∫n palomino de a√±adidura los domingos, \nconsum√≠an las tres partes de su hacienda.'

En este caso, queremos separar nuestro *string* por esos saltos de l√≠nea, para eso deberemos ...

In [47]:
don_quijote_separado = don_quijote.split(",")
don_quijote_separado

['En un lugar de la Mancha',
 ' de cuyo nombre no quiero acordarme',
 ' no ha mucho tiempo que viv√≠a un hidalgo de los de \nlanza en astillero',
 ' adarga antigua',
 ' roc√≠n flaco y galgo corredor.\n Una olla de algo\n  m√°s vaca que\n   carnero',
 ' salpic√≥n las m√°s noches',
 '\nduelos y quebrantos los s√°bados',
 ' lantejas los viernes',
 ' alg√∫n palomino de a√±adidura los domingos',
 ' \nconsum√≠an las tres partes de su hacienda.']

## `replace()`

Sustituye una frase especificada por otra frase especificada.

In [48]:
# recordemos que era saludo

saludo

'Buenos dias chicas, sigamos aprendiendo m√©todos de los strings'

En este caso, queremos reemplazar la palabra "chicas" por "Adalabers".

In [49]:
saludo_adalaber = saludo.replace("chicas", "Adalaber")
saludo_adalaber

'Buenos dias Adalaber, sigamos aprendiendo m√©todos de los strings'

Si nos fijamos, este m√©todo nos ha permitido reemplazar la palabra "chicas" por "Adalaber". En este m√©todo le podemos pasar otro par√°metro que hace referencia al n√∫mero de elementos que queremos reemplazar.

In [50]:
# volvamos a ver el don quijote

don_quijote

'En un lugar de la Mancha, de cuyo nombre no quiero acordarme, no ha mucho tiempo que viv√≠a un hidalgo de los de \nlanza en astillero, adarga antigua, roc√≠n flaco y galgo corredor.\n Una olla de algo\n  m√°s vaca que\n   carnero, salpic√≥n las m√°s noches,\nduelos y quebrantos los s√°bados, lantejas los viernes, alg√∫n palomino de a√±adidura los domingos, \nconsum√≠an las tres partes de su hacienda.'

En este caso, si nos fijamos, tenemos tres "los" en el texto. Pero puede ser que solo nos interese reemplazar los dos primeros, con Python y `replace` lo podemos hacer. Veamos c√≥mo:

In [53]:
don_quijote_cambiado = don_quijote.replace(" los ", " DON QUIJOTE ", 2)
don_quijote_cambiado

'En un lugar de la Mancha, de cuyo nombre no quiero acordarme, no ha mucho tiempo que viv√≠a un hidalgo de DON QUIJOTE de \nlanza en astillero, adarga antigua, roc√≠n flaco y galgo corredor.\n Una olla de algo\n  m√°s vaca que\n   carnero, salpic√≥n las m√°s noches,\nduelos y quebrantos DON QUIJOTE s√°bados, lantejas los viernes, alg√∫n palomino de a√±adidura los domingos, \nconsum√≠an las tres partes de su hacienda.'

Si nos fijamos ahora, se han reemplazado los dos primeros "los", mientras que el √∫ltimo se ha conservado.

## `join()` 

Toma todos los elementos de un iterable (una lista o una tupla) y los une en un *string*.

Debemos especificar un *string* como separador.

In [54]:
# lo primero definimos una lista (no las hemos visto todav√≠a, pero pronto las aprenderemos)

lista_saludo = ["Hola", "que tal estas", "Adalaber"]

Nuestro objetivo es unir cada elemento de esa lista en un √∫nico *string*

In [55]:
string_saludo1 =  " ".join(lista_saludo)
string_saludo1

'Hola que tal estas Adalaber'

Si te fijas, hemos unido todos los elementos de la lista en un √∫nico string separado por espacios. Tambi√©n podr√≠amos separlos por una "_" de la siguiente forma:

In [56]:
string_saludo2 =  "_".join(lista_saludo)
string_saludo2

'Hola_que tal estas_Adalaber'

## `find()`

Encuentra la primera aparici√≥n del valor especificado. Este m√©todo va a devolver -1 si no se encuentra el valor. Si encuentra una coincidencia, nos devuelve el n√∫mero de la posici√≥n donde se encuentra el *string* que estamos buscando. 

El m√©todo `find() `es pr√°cticamente igual que el m√©todo `index()`, la √∫nica diferencia es que el m√©todo index() lanza una excepci√≥n si no se encuentra el valor.

Su sintaxis es: 

```python
string.find(valor, inicio, final)
```
Donde: 

- `valor`: hace referencia a el *string*  que queremos buscar.

- `inicio`: hace referencia a la posici√≥n donde queremos empezar a buscar.

- `final`: hace referencia a la posici√≥n donde queremos finalizar la b√∫squeda.

In [ ]:
# recordemos saludo

saludo

'Buenos dias chicas, sigamos aprendiendo m√©todos de los strings'

Vamos a querer buscar todas las "m" de nuestro saludo. Empezando por la letra que est√° en la posici√≥n 10, hasta la letra que esta en posici√≥n 30

In [57]:
saludo.find("m", 10, 30)

24

Es decir, en nuestro saludo, hat una "m" en la posici√≥n 24.

Por √∫ltimo veamos que pasa si usamos un m√©todo de *string* en un n√∫mero por ejemplo. Imaginamos que creamos una variable de tipo *interger* y le aplicamos un m√©todo de *strings*. ¬øQu√© creeis que pasar√°? Ve√°moslo:

In [58]:
# definimos la variable
numero = 5

In [ ]:
numero.upper()

AttributeError: 'int' object has no attribute 'upper'

De nuevo nos devuelve un error, y si lo leemos seremos capaces de entender que es lo que esta pasando. En este caso nos dice `AttributeError: 'int' object has no attribute 'upper'`. 

¬øQu√© significa esto? 

Nos est√° diciendo que los objetos de tipo `int` no tienen el atributo `upper`. Es decir, no podemos aplicar un m√©todo propio de *strings* en *integers*.

¬°Vaya cantidad de m√©todos hay para `string`! ¬øHas encontrado el m√©todo `.upper()`? Si quieres cotillear puedes llamar a cada una de ellos en una celda nuev y ver qu√© devuelven.  En la lista de VS Code tambi√©n te saldr√°n bastantes opciones con el formato `__add__`. Son m√©todos especiales que de momento no nos interesan. Si usas la terminal, con la tecla `Tab` estos m√©todos no te aparecer√°n. 

Os dejamos un `int` y un `float` para mirar qu√© m√©todos existen para ellos, aunque no son tantos que para los `string`.

In [61]:
vacas = 5
temperatura = 36.5

vacas
temperatura

**Repaso**:

- Concatenar con `+`.

- La funci√≥n `input()`.

- Algunos de los los m√©todos: `.upper()`, `.lower()`, `.strip()`.

- Otros m√©todos: 

    - `.split()`: convertir un string en una lista de strings, cortado en cada espacio.

    - `.replace()`: reemplazar el substring del primer argumento con el substring del segundo.

    - `.join()`: juntar el contenido del iterable del argumento usando el separador a quien le aplicas el m√©todo para juntarlos.
    
    - `.find()`: encontrar el √≠ndice en que empiece el substring del argumento. Da '-1' si no existe el substring.

- Los m√©todos disponibles dependen del tipo de la variable.

- La forma de escribirlos es `variable.metodo`

- Al escribir el punto `.` pegado a un nombre de una variable la tecla `Tab` nos puede listar los m√©todos que se apliquen a esta variable. Por tanto, no hay que memorizarse los m√©todos que hay.



---


## Ejercicios: operaciones con texto y la funci√≥n `input()`

- Crear nuevas variables

  33. Usa `input()` y guarda la respuesta en la variable dia_cumple.

  34. Usa `input()` y guarda la respuesta en la variable mes_cumple.

- Manipular

  35. Usa `.strip()` en ambas las variables definidas.

  36. Haz que `fecha_cumple` sea un *string* compuesto por el d√≠a y el mes.

  37. Imprime `Fecha de cumplea√±os es` m√°s el d√≠a y el mes.
  
  38. Imprime la variable perros en todas may√∫sculas.

---

In [89]:
# 33-34
dia_cumple=input()
mes_cumple=input()

17
noviembre

In [90]:
dia_cumple, mes_cumple

('17', 'noviembre')

In [109]:
#35
#36
fecha_cumple=
print(fecha_cumple)

SyntaxError: ignored